{% extends 'base.html' %}
{% block header %}
  <div class="col-12">
    <h1>{% block title %}Register{% endblock %}</h1>
  </div>
{% endblock %}

{% block content %}
<form class="col-12" method="post">
  <div class="form-group">
    <label for="client_name">Application Name</label>
    <input class="form-control" type="text" name="client_name">
  </div>
  <div class="form-group">
    <label for="client_uri">Application URI</label>
    <input class="form-control" type="url" name="client_uri">
  </div>
  <div class="form-group">
    <label for="scope">Allowed Scope</label>
    <input class="form-control" type="text" name="scope">
  </div>
  <div class="form-group">
    <label for="redirect_uri">Redirect URIs</label>
    <textarea class="form-control" name="redirect_uri" cols="30" rows="5"></textarea>
  </div>
  <div class="form-group">
    <label for="grant_type">Allowed Grant Types</label>
    <textarea class="form-control" name="grant_type" cols="30" rows="5">authorization_code&#10;password</textarea>
  </div>
  <div class="form-group">
    <label for="response_type">Allowed Response Types</label>
    <textarea class="form-control" name="response_type" cols="30" rows="5">code</textarea>
  </div>
  <div class="form-group">
    <label for="token_endpoint_auth_method">Token Endpoint Auth Method</label>
    <select class="form-control" name="token_endpoint_auth_method">
      <option value="client_secret_basic">Client Secret Basic</option>
      <option value="client_secret_post">Client Secret Post</option>
      <option value="none">none</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
